body{
    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container{
    width:90%;
    max-width:600px;
    background:#101827;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}
h2{
    text-align:center;
    margin-bottom:20px;
}
input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    margin-bottom:15px;
}
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#22c55e;
    color:white;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background:#16a34a;
}
#preview{
    margin-top:20px;
    max-height:300px;
    overflow:auto;
    background:white;
    color:black;
    padding:10px;
    border-radius:8px;
}
#downloadBtn{
    display:none;
    margin-top:10px;
    background:#3b82f6;
}
